/* Body */
    body {
        color: #5E5F5F;
        font-family: Lato, Helvetica, sans-serif;
    }

/* Navigation Bar */
    nav {
        background-color: white;
        border-bottom: solid 1px #e6e6e6;
        color: #10ACEF;
        height: 130px;
        position: fixed;
        width: 100%;
        z-index: 999999;
    }

        nav a {
            color: #10ACEF;
            font-size: 1em;
            font-weight: bold;
            line-height: 130px;
            padding-left: 2em;
            text-transform: uppercase;
            transition: 0.3s;
        }

        nav a:hover {
            text-decoration: none;            
        }

        nav a.right {
            float: right;
            padding-right: 3em;
            padding-left: 0;
        }

        nav img {
            margin-left: -1em;
            height: 120px;
        }

    nav.blue {
        background-color: #10ACEF;
        color: white;
    }

        nav.blue a {
            color: white;
        }

    .nav-search-bar {
        position: fixed;
        top: 45px;
        left: 500px;
        width: 450px;
    }

        .nav-search-bar input[type="text"] {
            -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
            border-style: solid;
            border-width: 0;
            color: #5E5F5F;
            font-size: 1.75em;
            width: 100%;
        }

    .search-input {
        position: relative;
    }

        .search-input i {
            color: #10ACEF;
            font-size: 1.75em;
            font-weight: bold;
            left: 1px;
            position: absolute;
            padding: 8px 10px;
            pointer-events: none;
        }

        .search-input input {
            padding-left: 48px;
        }

/* Container */
    .container {
        padding-top: 130px;
        width: 90%;
        margin: 0 auto;
    }

/* Log In */
    .login {
        border: solid 1px #e6e6e6;
        width: 400px;
        padding: 2em;
        margin: 5em auto;
    }

    .login h3 {
        text-align: center;
    }

    .login .form-group {
        margin: 1em 0 0 0;
    }

    .login label {
        font-size: 0.7em;
        font-weight: bold;
        padding-left: 1px;
        margin: 0;
    }

    .login input {
        border: solid 1px #e6e6e6;
        border-radius: 2px;
        display: block;
        padding-left: 0.25em;
        width: 100%;
    }

    .login input[type="submit"] {
        cursor: pointer;
        border: solid 1px #10ACEF;
        background-color: #10ACEF;
        color: white;
        font-weight: bold;
        height: 2.5em;
        text-transform: uppercase;
        transition: 0.3s;
    }

    .login input[type="submit"]:hover {
        opacity: 0.75;
    }

/* Home */
    .home-container {
        color: white;
        padding-top: 100px;
        background-image: url("/img/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.25);
    }

    .home-container h1 {
        font-size: 4em;
        font-weight: bold;
    }

    .home {
        margin-top: 6em;
        text-align: center;
    }

    .banner-block {
        font-size: 2em;
        font-weight: bold;
        margin-top: 2em;
        padding-bottom: 4em;
    }

        .banner-block i {
            display: block;
            font-size: 4em;
            margin-bottom: 0.25em;
        }

        .banner-block a {
            background: #10ACEF;
            color: white;
            font-size: 0.9em;
            padding: 0.6em 1.25em;
            transition: 0.3s;
        }

        .banner-block a:hover {
            text-decoration: none;
        }

        .banner-block p {
            margin-bottom: 1em;
        }

/* Search Bar */
    .search-bar {
        padding: 10em 0 1em 0;
        width: 60%;
        margin: 0 auto;
    }

        .search-bar h1 {
            color: #10ACEF;
            text-align: center;
            margin-bottom: 0.5em;
        }

        .search-bar input[type="text"] {
            border: solid 1px #e6e6e6;
            font-size: 1.5em;
            height: 50px;
            padding-left: 0.5em;
            width: 80%;
            display: inline-block;
        }

        .search-bar input[type="submit"] {
            background-color: #10ACEF;
            border: solid 1px #10ACEF;
            color: white;
            cursor: pointer;
            font-size: 1.5em;
            font-weight: bold;
            height: 50px;
            margin-left: 6px;
            vertical-align: top;
            text-transform: uppercase;
            transition: 0.3s;
            width: 120px;
        }

        .search-bar input[type="submit"]:hover {
            opacity: 0.75;
        }

/* Banner */
    .banner {
        border: solid 1px black;
        font-size: 2em;
        height: 500px;
        padding-top: 3em;
        text-align: center;
        width: 100%;
        
    }

/* Search Query */
    .search-query {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin: 2em 0;
        width: 100%;
    }

        .search-query i {
            padding-right: 4px;
        }

        .search-query td:first-child {
            cursor: pointer;
            text-align: left;
        }

            .search-query td:first-child i {
                font-size: 1.25em;
                position: relative;
                top: 3px;
            }

        .search-query td:last-child {
            cursor: pointer;
            text-align: right;
        }

/* Result */
    .result {
        cursor: pointer;
        display: inline-block;
        margin: 20px;
        text-align: center;
        width: calc(31% - 20px);
    }

    .result:hover {
        color: #5E5F5F;
        text-decoration: none;
        transform: scale(1.02);
        transition: all .2s ease-in-out;
    }

        .result img {
            display: block;
            width: 100%;          
        }

        .result table {
            color: #5E5F5F;
            font-size: 1.25em;
            margin-top: 0.5em;
            width: 100%;
        }

        .result table td:first-child {
            color: #10ACEF;
            font-size: 1.25em;
            font-weight: bold;
            text-align: left;
        }

        .result table td:last-child {
            text-align: right;
        }

/* List Your Pet */
    .list {
        border: solid 1px #e6e6e6;
        width: 400px;
        padding: 2em;
        margin: 5em auto;
    }

    .list h2 {
        text-align: center;
    }

    .list .form-group {
        margin: 1em 0 0 0;
    }

    .list label {
        font-size: 0.7em;
        font-weight: bold;
        padding-left: 1px;
        margin: 0;
    }

    .list input, .list textarea {
        border: solid 1px #e6e6e6;
        border-radius: 2px;
        display: block;
        padding-left: 0.25em;
        width: 100%;
    }

    .list input[type="file"] {
        border: none;
    }

    .list input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
    }

    .list input[type="file"]::before {
        content: 'Upload File';
        cursor: pointer;
        border: solid 1px #10ACEF;
        background-color: #10ACEF;
        color: white;
        transition: 0.3s;
        padding: 0.25em 0.5em;
    }

    .list input[type="file"]:hover::before {
        opacity: 0.75;
    }

    .list input[type="submit"] {
        cursor: pointer;
        border: solid 1px #10ACEF;
        border-radius: 0px;
        background-color: #10ACEF;
        color: white;
        font-weight: bold;
        height: 2.5em;
        text-transform: uppercase;
        transition: 0.3s;
    }

    .list input[type="submit"]:hover {
        opacity: 0.75;
    }

/* Listing */
    .listing {
        width: 100%;
        margin: 3em auto;
    }

        .listing .title {
            background-image: url("/img/bone.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
            color: white;
            font-size: 4.4em;
            font-weight: bold;
            letter-spacing: 3px;
            padding: 1em 0 0.95em;
            text-align: center;
        }

        .listing .subtitle {
            color: #5E5F5F;
            font-size: 1.25em;
            font-weight: bold;
            line-height: 0;
            text-align: center;
        }

        .listing .subtitle i {
            left: 3px;
            position: relative;
            top: 3px;
        }

        .listing .subtitle a {
            color: #5E5F5F;
            font-size: 1.5em;
        }

        .listing .subtitle a:hover {
            text-decoration: none;
        }

        .listing > div {
            padding: 0 3em;
        }

        .listing img {
            width: 100%;
        }

        .listing p {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 1em;
        }

    .update {
        border: solid 1px #e6e6e6;
        margin: 2em auto 4em auto;
        padding: 2.5em 3em 1em 3em;
    }

        .update h2 {
            margin-bottom: 1em;
            text-align: center;
        }

        .update label {
            font-size: 0.9em;
            font-weight: bold;
            padding-left: 1px;
            margin: 0;
        }

        .update input, .update textarea {
            border: solid 1px #e6e6e6;
            border-radius: 2px;
            display: block;
            padding-left: 0.25em;
            margin: 0.25em 0 1.5em 0;
            width: 100%;
        }

        .update input[type="submit"] {
            cursor: pointer;
            border: solid 1px #10ACEF;
            background-color: #10ACEF;
            color: white;
            font-weight: bold;
            height: 2.5em;
            text-transform: uppercase;
            transition: 0.3s;
        }

        .update input[type="submit"]:hover {
            opacity: 0.75;
        }

        .update input[type="file"] {
            border: none;
        }

        .update input[type="file"]::-webkit-file-upload-button {
            visibility: hidden;
        }

        .update input[type="file"]::before {
            content: 'Upload File';
            cursor: pointer;
            border: solid 1px #10ACEF;
            background-color: #10ACEF;
            color: white;
            left: -3px;
            position: relative;
            transition: 0.3s;
            padding: 0.25em 0.5em;
        }

        .update input[type="file"]:hover::before {
            opacity: 0.75;
        }

        .update input[type="submit"] {
            cursor: pointer;
            border: solid 1px #10ACEF;
            border-radius: 0px;
            background-color: #10ACEF;
            color: white;
            font-size: 1.25em;
            font-weight: bold;
            height: 2.5em;
            text-transform: uppercase;
            transition: 0.3s;
        }

        .update input[type="submit"]:hover {
            opacity: 0.75;
        }

/* Pets */
    .pets {
        margin-top: 3em;
        text-align: center;
    }