<!DOCTYPE html>

<html>
    <head>
        <title>Paw Tales{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />
        <link rel="stylesheet" type="text/css" href="/css/icofont.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="icon" href="/img/icon.png" />
    </head>

    <body>
        <nav {% if not home %}class="blue"{% endif %}>
            <a href="/">{% if home %}<img src="/img/logo.png" />{% else %}<img src="/img/logo-blue.png" />{% endif %}</a>
            {% if user %}
            <!-- <a href="/logout" class="right">Log Out</a>  Currently no logout option-->
            <a class="right"> Hi, {{ user.first_name }}</a>
            <a href="/pets" class="right">My Pets</a>
            {% else %}
            <a href="/signup" class="right">Sign Up</a>
            <a href="/login" class="right">Log In</a>
            {% endif %}
            <div class="nav-search-bar">
                <form action="/results" method="POST">
                    <div class="search-input">
                        <i class="icofont">search_1</i>
                        <!-- do you want to make the shading for the query? -->
                        <input type="text" name="query" placeholder="Find your pet now!" value="{{ query }}" required />
                    </div>
                </form>
            </div>
        </nav>

        {% block maincontent %}
        {% endblock maincontent %}

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block addscripts %}
        {% endblock addscripts %}

    </body>
</html>
