<!DOCTYPE html>

<html>
    <head>
        <title>Paw Tales{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />
        <link rel="stylesheet" type="text/css" href="/css/icofont.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            {% if user %}
            <a href="/list">List Your Pet</a>
            <a href="/logout" class="right">Log Out</a>
            {% else %}
            <a href="/signup" class="right">Sign Up</a>
            <a href="/login" class="right">Log In</a>
            {% endif %}
        </nav>

        {% block maincontent %}
        {% endblock maincontent %}

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block addscripts %}
        {% endblock addscripts %}

    </body>
</html>
