{% extends "templates/base.html" %}
{% block maincontent %}
<div class="home-container">
    <div class="home">
        <h1>Welcome to the Pet Tales community!</h1>
        <div class="row">
            <div class="banner-block col-md-4 offset-md-1">
                <i class="icofont">dog</i>
                <p>Looking for that special someone?</p>
                <a href="/search">ADOPT NOW</a>
            </div>
            <div class="banner-block col-md-4 offset-md-2">
                <i class="icofont">home</i>
                <p>Need to find an animal their forever home?</p>
                <a href="/list">FIND A HOME</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
