{% extends "templates/base.html" %}
{% block maincontent %}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<div class="container">
    <div class="row listing">
        <div class="col-md-6">
            <div class="title">{{ pet.name }}</div>
            <div class="subtitle">
                By {{ owner.first_name }} {{ owner.last_name }}
                <a href="mailto:{{ owner.email_address }}" target="_blank"><i class="far fa-envelope"></i></a>
            </div>
            <p>
                "Once upon a time, there was a {{ pet.breed }} named {{ pet.name }} who was looking for a home..."
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ pet.image_url }}" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="update col-md-10 offset-md-1">
            <h2>The Story of {{ pet.name }} – New Chapter</h2>
            <form>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required />
                <label for="content">Content</label>
                <textarea id="content" name="content" rows="6" required></textarea>
                <label for="photo">Photo</label>
                <input type="file" id="photo" name="photo" required />
                <input type="submit" value="Publish New Chapter" />
            </form>
        </div>
    </div>

</div>
{% endblock %}