{% extends "templates/base.html" %}
{% block maincontent %}
<div class="container">
    <div class="row listing">
        <div class="col-md-6">
            <div class="title">{{ pet.name }}</div>
            <div class="subtitle">
                By {{ owner.first_name }} {{ owner.last_name }}
                <a href="mailto:{{ owner.email_address }}" target="_blank"><i class="icofont">envelope</i></a>
            </div>
            <p>
                "Once upon a time, there was a {{ pet.breed }} named {{ pet.name }} who was looking for a home..."
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ pet.image_url }}" />
        </div>
    </div>

</div>
{% endblock %}