{% extends "templates/base.html" %}
{% block maincontent %}
<div class="container">
    <div class="pets">
        <h1>Current Pet Listings</h1>
        {% for pet in pets %}
        <a href="/pet/{{ pet.key.id() }}" class="result">
            <img src="{{ pet.image_url }}" />
            <table>
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.breed }}</td>
                </tr>
            </table>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}